[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==2.2.2"
sqlalchemy = "*"
flask-sqlalchemy = "*"
flask-script = "==2.0.5"
flask-migrate = "==2.7.0"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.2"
